node_modules/
dist/
test/*.png
test/*.jpg
test/*.tga
test/*.blp
package-lock.json
src/blp.js
src/blp.d.ts
src/blp.js.map
src/index.js
src/index.d.ts
src/index.js.map
src/struct.js
src/struct.d.ts
src/struct.js.map
libjpeg-turbo/

